@model RealEstates.Web.ViewModels.UserM.UserPageViewModel
@using Microsoft.AspNet.Identity
<h2>User Real Estates</h2>

@if (User.Identity.GetUserId() == (string)Url.RequestContext.RouteData.Values["id"])
{
    <p>
        @Html.ActionLink("Create New Real Estate", "CreateRealEstate", null, new { @class = "btn btn-info" })
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RealEstate.City.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RealEstate.User.ImageURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RealEstate.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RealEstate.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RealEstate.ConstructionYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RealEstate.SellingPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RealEstate.RentingPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RealEstate.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RealEstate.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RealEstate.Bedrooms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RealEstate.SquareMeter)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.RealEstates)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.City.Name)
            </td>
            <td>
                <img src="@Url.Content(item.Images.FirstOrDefault().ImageUrl)" alt="Alternate Text" width="100%" />
               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConstructionYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bedrooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SquareMeter)
            </td>
            @if (User.Identity.GetUserId() == (string)Url.RequestContext.RouteData.Values["id"])
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
        </tr>
    }
</table>