@model RealEstates.Web.ViewModels.Home.HomePageViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h4>Most Popular Cities</h4>
    @foreach (var city in Model.Cities)
    {
        <div class="col-md-3">
            @Html.ActionLink(city.Name, "RealEstatesByCity", new { name = city.Name })
        </div>
    }
</div>

<div class="row">
    @Html.Partial("_RealEstatesTemplate", Model)

    <div class="col-md-2 ">
        <h4>Top Brokers:</h4>
        @foreach (var user in Model.Users)
        {
            <div class="row">
                <a href='@Url.Action("Index","UserProfile", new { id = user.Id })'>
                    @user.Name
                    <img src="@user.ImageUrl" alt="Alternate Text" width="100%" />
                </a>
            </div>
        }
    </div>
</div>