@model RealEstates.Model.RealEstate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <div class="row">
        @foreach (var item in Model.Images)
        {
            <div class="col-md-4">
                <img src="@Url.Content(item.ImageUrl)" alt="Alternate Text" width="100%" />
            </div>
        }
    </div>
    <dl class="dl-horizontal">
        <dt>
            <strong>City</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConstructionYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConstructionYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellingPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellingPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentingPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentingPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bedrooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bedrooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bathrooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bathrooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SquareMeter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SquareMeter)
        </dd>

        <dt>
            Price Per SqFt
        </dt>

        <dd>
            @((double)Model.SellingPrice/Model.SquareMeter)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>