@model RealEstates.Web.ViewModels.Home.RealEstateDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <div class="row">
        @foreach (var item in Model.Images)
        {
            <div class="col-md-4">
                <img src="@Url.Content(item.ImageUrl)" alt="Alternate Text" width="100%" />
            </div>
        }
    </div>
    <dl class="dl-horizontal">
        <dt>
            <strong>City</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealEstate.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RealEstate.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealEstate.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RealEstate.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealEstate.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RealEstate.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealEstate.BrokerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RealEstate.ConstructionYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealEstate.ConstructionYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RealEstate.SellingPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealEstate.SellingPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RealEstate.RentingPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealEstate.RentingPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RealEstate.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealEstate.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RealEstate.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealEstate.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RealEstate.Bedrooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealEstate.Bedrooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RealEstate.Bathrooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealEstate.Bathrooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RealEstate.SquareMeter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealEstate.SquareMeter)
        </dd>

        <dt>
            Price Per SqFt
        </dt>

        <dd>
            @((double)Model.RealEstate.SellingPrice / Model.RealEstate.SquareMeter)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", "Home");
</p>

<div class="row">
    <div class="col-md-10">
        <h2>@Model.RealEstate.CommentsCount comments</h2>
        @using (Html.BeginForm("AddComment", "RealEstate", FormMethod.Post))
        {
            <div class="redColor">
                @Html.ValidationSummary()
            </div>
            @Html.AntiForgeryToken()

            @Html.TextBoxFor(m => m.RealEstateId, new { hidden = "hidden" })
            @Html.EditorFor(m => m.Content)
            @Html.EditorFor(m => m.AuthorEmail)
            <input type="submit" value="Post comment" class="btn btn-default" />
        }

        @if (@Model.RealEstate.CommentsCount > 0)
        {
            <ul>
                @foreach (var comment in Model.Comments)
                {
                    <li>
                        <div class="row">
                            <div class="col-md-4">@comment.HiddentAuthorEmail <span class="grey">commented</span></div>
                            <div class="col-md-8 grey">@comment.FormattedCreatedOn</div>
                        </div>

                        <div class="row">
                            @comment.Content
                        </div>
                    </li>
                }
            </ul>

            <ul class="pagination">
                @if (Model.CurrentCommentPage > 1)
                {
                    <li><a href="/RealEstate/@Model.RealEstate.Url?page=1">&laquo;</a></li>
                }

                @for (int i = 1; i <= Model.TotalCommentPages; i++)
                {
                    <li @if (Model.CurrentCommentPage == i) { <text> class="active" </text>       }>
                        <a href="/suggestions/@Model.RealEstate.Url?page=@i.ToString()">@i.ToString()</a>
                    </li>
                }
            </ul>
        }
        else
        {
            <p>No comments for this suggestion yet</p>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}